{% extends 'base.html' %}

<!-- {% block styles %}
{% endblock %} -->


{% block content %}  
<div>
    <label>{{user.username}}</label>
    <label>watchlist</label>
    <div class="watch"></div>
    <div class="watch">{{ watch_list }}</div>  
</div>

<script>
    // var watchList = localStorage.getItem('response');
    // const watch = document.querySelector('.watch');
    // watch.innerHTML = `
    // <div>
    //     <input type="checkbox">
    //     ${watchList}
    // <div>
    // `;
</script>
{% endblock %}