{% extends 'base.html' %}

<!-- {% block styles %}
{% endblock %} -->


{% block content %}  
<div>
    <form class="search-form">
        {%csrf_token%}
        <input type="text" class="search-input" placeholder="type here">
        <button type="submit" class="search-button">search</button>
    </form>

    <div class="details-parent" style="background-color:red; position: fixed; top: 0; left: 0;display: flex; justify-content: center; align-items: center; z-index: 9999;">
        <button class="close-button" style="display: none;">x</button>
        <div class="details" style="display: none;"></div>
    </div>
    

    <div class="movies-parent">
        <div class="movies"></div>
    </div>
</div>


<script>
    
    const searchForm = document.querySelector('.search-form')
    const searchInput = document.querySelector('.search-input');
    const movies = document.querySelector('.movies');
    const moviesParent = document.querySelector('.movies-parent');
    const details = document.querySelector('.details');
    const closeButton = document.querySelector('.close-button');

    searchForm.addEventListener('submit', (event) => {
        event.preventDefault();
        
        const searchItem = searchInput.value.trim();
        if (searchItem.length === 0) {
            return;
        }

        fetch('', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
                'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'searchItem': searchItem
            })
        })
        .then(response => response.json())
        .then(data => {
            const response = data.response;
            console.log(response);
            
            movies.innerHTML = '';
            for (const item of response) {
                // console.log(item);
                const movie = document.createElement('div');
                movie.classList.add('movie');
                movie.innerHTML = `
                    <div>
                        ${item}
                    </div>
                `;
                movies.appendChild(movie);

                movie.addEventListener('click', (event) => {
                    details.style.display = 'block';
                    closeButton.style.display = 'block'
                    details.innerHTML = '';
                    details.innerHTML = `
                        <div>
                            ${item}
                        <div>
                    `;
                });  
                
                closeButton.addEventListener('click', (event) => {
                    closeButton.style.display = "none";
                    details.style.display = "none";
                })
            }

        });
    });
    
</script>
{% endblock %}